body{

  text-align: center;
  font-family: 'Special Elite', cursive;
  background: white;
}

.header_div {
   background: rgb(177, 177, 177);
   color:white;
}

.header_div p {
 color: white;
 font-family:Arial;
 font-weight: bold;
 font-size: 18px;
 letter-spacing: 3px;
}

.main_div button {
 width: 130px;
 font-weight: bolder;
 font-family: Arial;
 margin-top: 30px;
 letter-spacing: 3px;
}

.copy_right_footer{
  position: fixed;
  width: 100%;
  background-color: white;
  color: rgb(84, 82, 82);
  bottom:0;
  font-size:20px;
  line-height: 3;
  text-align: center;
  text-shadow:10px 10px 5px gray;
}
